<!-- Partner Section -->
<section class="success" id="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Partners</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="col-sm-4">
      <br><br><br><br>
      <div class="container-fluid">
        <img src="img/partners/volvo.png" align="left" alt="Volvo Group Logotype" width="320" height="40" >
        <br><br><br><br><br><br><br>
            <img src="img/partners/vinnova.png" alt="Vinnova" width="300" height="60">
      </div>      
    </div>
    <div class="col-sm-4">
      <div class="container-fluid">
        <img src="img/partners/abb.svg" alt="ABB" width="350" height="200">
        <br>
        <img src="img/partners/stint.png" alt="STINT" >
      </div> 
    </div>
    <div class="col-sm-4">
      <div class="container-fluid">
        <img src="img/partners/nep-logotyp.png" alt="Nordisk Elektronikpartner" >
        <br>
        <br>
        <br>
        <img src="img/partners/kks-bla.png" alt="KK-stiftelsen" width="400" height="100">
      </div> 
    </div>
  </div>
</section>