<!-- Partner Section -->
<section class="success" id="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Partners</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="container">
        <img src="img/partners/volvo.avif" alt="Volvo Group Logotype" width="350" height="200">
        <br>
        <img src="img/partners/nep-logotyp.png" alt="NEPartner" width="350" height="200">
      </div>      
    </div>
    <div class="col-sm-4">
      <div class="container">
        <img src="img/partners/volvo.avif" alt="Volvo Group Logotype" width="350" height="200">
        <br>
        <img src="img/partners/nep-logotyp.png" alt="NEPartner" width="350" height="200">
      </div> 
    </div>
    <div class="col-sm-4">
      <div class="container">
        <img src="img/partners/volvo.avif" alt="Volvo Group Logotype" width="350" height="200">
        <br>
        <img src="img/partners/nep-logotyp.png" alt="NEPartner" width="350" height="200">
      </div> 
    </div>
  </div>
</section>